autopep8
asynctest
colorama
coverage
tox
authlib
httpx
nose
gnureadline  # XXX: This project is no longer maintained. If weird things start 
            # happening around taking input, look here first.
python-dateutil
pytest
pytz
selenium
sphinx_rtd_theme
twine
websockets
