version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          command: python -m nose
          name: Test
      - run:
          command: python -m coverage run --source=tda -m nose
          name: Coverage
      - run:
          command: bash <(curl -s https://codecov.io/bash)
          name: Upload to codecov

workflows:
  main:
    jobs:
      - build-and-test
